<ion-header>
  <ion-toolbar>
    <ion-title>Interview Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let interview of interviewSchedule" class="interview-card">
    <ion-card-header>
      <ion-card-title>{{ interview.company.name }}</ion-card-title>
      <ion-card-subtitle>{{ interview.company.location }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>Candidates</ion-list-header>
        <ion-item *ngFor="let candidate of interview.candidates">
          <ion-label>
            <h2>{{ candidate.name }}</h2>
            <p>{{ candidate.email }}</p>
            <p>
              <strong>Interview Date:</strong> {{ candidate.interviewSlot.date }}
            </p>
            <p>
              <strong>Time:</strong>
              {{ candidate.interviewSlot.startTime }} -
              {{ candidate.interviewSlot.endTime }}
            </p>
            <ion-button color="primary" fill="outline">View
              Candidate Details</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>