// ion-content {
//     --background: #f5f5f5;
// }

.interview-card {
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    ion-card-header {
        padding: 16px;
        background-color: #3880ff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    ion-card-content {
        padding: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    ion-button {
        margin-top: 16px;
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}